.nav {
  max-width: 400px;
  width: 100%;
  display: flex;
}

.nav__list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
}

.nav__link {
  font-family: "ibarraBold", serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}

.nav__link:active {
  color: $active;
}

.active {
  color: $active;
}
